<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
>

    <import resource="t1000_context.xml"/>

    <bean class="com.trl.main.MyBeanPostProcessor"/>

    <bean id="t1000Conveyor" class="com.trl.impls.conveyor.T1000Conveyor">

        <!--
        lookup-method Vukorustovyetsa chtobu odin bean moh sozdavat raznoe kalichistvo druhix bean
        -->
        <lookup-method name="createRobot" bean="t1000"/>
    </bean>

</beans>
