<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
>

    <import resource="t1000_context.xml"/>

    <bean class="com.trl.main.MyBeanPostProcessor"/>


    <bean id="t1000Conveyor"
          class="com.trl.impls.conveyor.T1000Conveyor">
        <lookup-method name="createRobot" bean="t1000"/>
    </bean>

    <bean id="t1000List" class="com.trl.impls.pool.T1000List">
        <constructor-arg name="robotList">
            <list>
                <ref bean="t1000"/>

                <bean class="com.trl.impls.robot.ModelT1000"
                      parent="baseModel"
                >

                    <constructor-arg value="gold" index="3" type="java.lang.String"/>
                    <constructor-arg value="2007" index="4" type="int"/>
                    <constructor-arg value="false" index="5" type="boolean"/>
                </bean>

                <bean class="com.trl.impls.robot.ModelT1000"
                      parent="baseModel"
                >

                    <constructor-arg value="gold" index="3" type="java.lang.String"/>
                    <constructor-arg value="2009" index="4" type="int"/>
                    <constructor-arg value="true" index="5" type="boolean"/>
                </bean>


            </list>
        </constructor-arg>
    </bean>

    <bean id="t1000_List_SpEL" class="com.trl.impls.pool.T1000List">
        <constructor-arg name="robotList"
                         value="#{t1000List.robotList.?[color.toUpperCase() eq 'GOLD']}">
        </constructor-arg>
    </bean>

</beans>
